{
  "plugins": ["sonarjs"],
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "arrowParens": "avoid"
      }
    ],
    "sonarjs/cognitive-complexity": "warn",
    "sonarjs/no-small-switch": "warn",
    "sonarjs/max-switch-cases": "warn",
    "sonarjs/no-duplicate-string": "warn",
    "sonarjs/no-identical-functions": "warn",
    "eslint-disable-next-line jsx-a11y/no-access-key": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
